{
	admin    localhost:4444
        debug
        log
}
:8000/* {
        @portLocalhost path_regexp port ^([0-9]+)/
        handle @portLocalhost {
                reverse_proxy localhost:{re.port.1}
        }

        handle {
                respond "Bad hostname" 400
        }
}
